{% extends "boss_admin/base.html" %}
{% load filters %}
{% load static %}
{%  block content %}


{% include "boss_admin/assign_role_page/left_nav_bar.html" %}



<script src="{% static '/js/js/jquery.min.js' %}"></script>
<style>

.alert11 {
   width:100%;
   line-height:10%;
}
</style>

<div class="right-main-container" style="margin-top: -15px;">
    <div class="header">
        Upload Asset Excel Data
    </div>

        <div class="row">
            {% if messages %}
                {% for message in messages %}
                        {% if message.tags == 'success' %}
                            <div class="message alert alert-success alert-dismissible alert11" role="alert">
                                <p id="id1" style="text-align:center;margin-top:10px;">{{ message }}</p>
                                <button id = "closeButton" type="button" class="close" data-dismiss="alert">&times;</button>
                            </div>
                        {% endif %}
                        {% if message.tags == 'error' %}
                            <div class="message alert alert-danger alert-dismissible alert11" role="alert">
                                <p style="text-align:center;margin-top:10px;">{{ message }}</p>
                                <button id = "closeButton" type="button" class="close" data-dismiss="alert">&times;</button>
                            </div>
                       {% endif %}
                {% endfor %}
            {% endif %}

            {% if msg %}
                <div class="col-md-12">
               <div class="alert alert-danger alert-dismissible alert11" role="alert">
                    <p id="id1" style="text-align:center;margin-top:10px;">{{ msg }}
                    <a href="{% url 'err_logs_export' %}" style="margin-left: 250px" class="btn btn-primary">
                    <i class="fa fa-download"></i>
                    Error Logs</a></p>

                    <button id = "closeButton" type="button" style="margin-top: 20px" class="close" data-dismiss="alert">&times;</button>
                </div>
                </div>
             {% endif %}
        </div>

<div class="container-fluid">
    <div class="row pt-5">
        <div class="offset-4 col-md-4 shadow p-5">
        <center>
        <h2>Upload Asset Excel Data</h2><hr><br><br>
        <form id="submit_form" method="POST"  enctype ="multipart/form-data">
            {% csrf_token %}
            <input name= "myfile" type="file" required>
            <button class="btn btn-primary" id="btn" type="submit" name="button">Upload</button>
        </form>
        </center>
        </div>
    </div>
</div>
</div>
<script>
   $('#success').hide()
</script>

<!-- javascript for popup -->
<script type="text/javascript">
// Popup window code
function newPopup(url) {
	popupWindow = window.open(
		url,'popUpWindow','height=423,width=961,left=293,top=166,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes')
}

$(document).ready(function() {
        // messages timeout for 10 sec
        setTimeout(function() {
            $('.message').fadeOut('slow');
        }, 10000); // <-- time in milliseconds, 1000 =  1 sec

        // delete message
        $('.del-msg').live('click',function(){
            $('.del-msg').parent().attr('style', 'display:none;');
        })
    });
</script>




{%  endblock content %}
