<html>
    <style>
        .center{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color:#8a2895;
            margin-top: 5%;
            border-radius: 20px;
        }
        .card-body{
            background-color:lightgray
        }

    </style>
    <body>
        <div class="container">
            <div class="row justify-content-center">
              <div class="col-6 center">
               <div class="card">
                <div class="card-body">
                 You don't have access or any role assigned to this Register.
                </div>
               </div>      
              </div>
            </div>
          </div>
    </body>
</html>