# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
*.sqlite3

# Log files and logs directories
*.log
CustomLog/
Logs/
registers_log/

# OS files
.DS_Store
Thumbs.db

# Environments
.env
venv/
env/
ENV/
kblpsc_env39/

# Keys and certificates
*.pem
*.key

# Editor/IDE files
.vscode/
.idea/
